{% extends "base.html" %}

{% block content %}

<div class="container">
  <h1>Bootstrap Index Page</h1>
  <p class="lead">It should be working!</p>
</div>

<div class="container">
  <table class="table table-striped">
    <tr>
      <td>1D</td>
      <td><a class="btn btn-default" href="{% url 'app1:plot1d' %}" role="button">Link</a></td>
    </tr>
    <tr>
      <td>2D</td>
      <td><a class="btn btn-default" href="{% url 'app1:plot2d' %}" role="button">Link</a></td>
    </tr>
  </table>
</div>

<!-- /.container -->

{% endblock %}
